* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(149, 240, 244);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(119, 195, 198);
  border-bottom: solid 4px darkred;
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
}

h1 {
  color: darkred;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;
}

section {
  border: solid 4px darkred;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 20px 20px;
  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-items: end;
  align-items: flex-start;
  list-style: none;
  padding-top: 15px;
}

.flexbox-container {
  position: relative;
  top: -25px;
  right: auto;
  /*nach dem einfügen der oberen 3 zeilen,
flexbox-container über dem header beim
scrollen; bookmark ist nicht rechts positioniert.*/
  background-color: rgb(119, 195, 198);
  text-align: center;
  color: rgb(5, 5, 107);
}

.bookmark {
  width: 45px;
  position: absolute;
  top: -25px;
  border: solid darkred 2px;
}

/*answer-button*/
main button {
  color: darkred;
  background-color: white;
  width: 80px;
  height: 25px;
}

/*alles vom footer:*/
footer {
  background-color: rgb(119, 195, 198);
  border-top: solid 4px darkred;
  position: fixed;
  bottom: 0%;
  width: 100%;
  max-height: 12%;
  padding-bottom: 15%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding-top: 6px;
}

img {
  width: 40px;
}
