* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

:root {
  --color-h1-and-border: darkred;
  --background-color-dark: rgb(119, 195, 198);
  --background-color-light: rgb(149, 240, 244);
}

/*Quiz-APP - HOME (landing page)*/

body {
  background-color: rgb(149, 240, 244);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(119, 195, 198);
  border-bottom: solid 4px;
  border-color: darkred;
  width: 100%;
  position: fixed;
  top: 0;
  height: 20vw;
}

h1 {
  color: darkred;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.page-title {
  text-transform: uppercase;
  font-size: larger;
  color: darkred;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;
}

section {
  border: solid 4px darkred;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 20px 20px;
  list-style: none;
}

h2 {
  font-size: medium;
}

.question-card {
  position: relative;
  top: -25px;
  background-color: rgb(119, 195, 198);
  text-align: center;
  color: rgb(4, 4, 91);
}

.bookmark {
  position: absolute;
  right: 4%;
  top: -25px;
  border: solid 2px rgb(67, 111, 113);
  border-radius: 2px;
  width: 40px;
  height: 40px;
  align-self: center;
}

.bookmark:hover {
  background-color: rgb(67, 111, 113);
}

.question-card img {
  position: absolute;
  right: 2px;
  top: 2px;
}

ul {
  display: flex;
  align-self: center;
  list-style: none;
  padding-top: 20%;
  margin-left: 15%;
  margin-right: 15%;
}

.link-button {
  border-radius: 1px;
  background-color: white;
  width: 60px;
  height: 25px;
}

.link-button a {
  text-decoration: none;
  color: rgb(4, 4, 91);
}

.link:hover {
  background-color: rgb(67, 111, 113);
}
/* funktioniert nicht richtig; nach einem klick sind alle 3 links rot
a:visited {
  color: darkred;
}
*/

/*answer-button*/
main button {
  color: darkred;
  background-color: white;
  width: 80px;
  height: 25px;
  align-self: center;
}

main button:hover {
  background-color: rgb(67, 111, 113);
}

img {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
}

/*answer-button*/

/*alles vom footer:*/
footer {
  background-color: rgb(119, 195, 198);
  border-top: solid 4px darkred;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 20vw;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

footer nav {
  display: flex;
  align-self: center;
  list-style: none;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 12px;
}

/*display: flex;
  justify-content: space-around;
  align-items: center;*/

.webpage-button {
  position: relative;
  border: solid 2px rgb(67, 111, 113);
  border-radius: 2px;
  width: 40px;
  height: 40px;
}

.webpage-button img {
  position: relative;
  bottom: 0;
  left: 2px;
  width: 32px;
  height: 32px;
}

.webpage-button:hover {
  background-color: rgb(67, 111, 113);
}

/*Quiz-APP - BOOKMARK-PAGE*/

.bookmark:visited {
  color: rgb(67, 111, 113);
}

/*Quiz-APP - BOOKMARK-PAGE*/
