:root {
  --color-h1-and-border: darkred;
  --background-color-dark: rgb(119, 195, 198);
  --background-color-light: rgb(149, 240, 244);
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Quiz-APP - HOME (landing page)*/

body {
  background-color: rgb(149, 240, 244);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(119, 195, 198);
  border-bottom: solid 4px darkred;
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
}

h1 {
  color: darkred;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;
}

section {
  border: solid 4px darkred;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 20px 20px;
  list-style: none;
}

h2 {
  font-size: medium;
}

.question-card {
  position: relative;
  top: -25px;
  background-color: rgb(119, 195, 198);
  text-align: center;
  color: rgb(4, 4, 91);
}

.bookmark {
  position: absolute;
  right: 4%;
  top: -25px;
  border: solid 2px darkred;
  width: 40px;
  height: 40px;
}

.bookmark:hover {
  background-color: rgb(67, 111, 113);
}

ul {
  display: flex;
  justify-items: end;
  align-items: center;
  list-style: none;
  padding-top: 15px;
}

/*answer-button*/
main button {
  color: darkred;
  background-color: white;
  width: 80px;
  height: 25px;
}

main button:hover {
  background-color: rgb(67, 111, 113);
}

img {
  display: flex;
  justify-self: center;
  width: 32px;
  height: 32px;
}

/*alles vom footer:*/
footer {
  background-color: rgb(119, 195, 198);
  border-top: solid 4px darkred;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 12%;
  padding-bottom: 15%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding-top: 6px;
}

footer li {
  width: 40px;
  height: 30px;
  background: transparent;
}

nav ul:hover {
  background-color: rgb(67, 111, 113);
}

/*Quiz-APP - BOOKMARK-PAGE*/

.bookmark:visited {
  color: rgb(67, 111, 113);
}

/*Quiz-APP - BOOKMARK-PAGE*/
